.main {
  width: 250px; 
  margin: 0 auto;
}

.btns {
  text-align: center;
  margin-top: 15px; 
}

table {
  margin: 0; 
  padding: 0;
  table-layout: fixed;
  width: 250px;
  user-select: none;
  border-collapse: collapse; 
}

table caption {
  font-weight: bold;
  color: rgb(112, 9, 153);
}

td {
  width: 10px;
  border: 1px solid black;
  text-align: center;
}